:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    margin: 30px 0px;
    display: flex;
    justify-content: flex-end;
}

mat-form-field {
    margin: 20px 0px;
}

.error-login {
    color: red;
}

.auth-default {
    p,
    i {
        color: #939292;
    }
}