<mat-card>
    <mat-card-title>REGISTRO</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">

            <mat-form-field class="note-full-width" appearance="fill">
                <mat-label for="title">Nombre</mat-label>
                <input name="name" matInput required placeholder="Nombre" type="text" formControlName="name">
                <mat-hint *ngIf="this.registerForm.get('name')?.errors?.['required']" align="end">
                    El Nombre es requerido
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="note-full-width" appearance="fill">
                <mat-label for="title">Email</mat-label>
                <input name="email" matInput required placeholder="Email" type="email" formControlName="email" email>
                <mat-hint *ngIf="this.registerForm.get('email')?.errors?.['required']" align="end">
                    El email es requerido
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="note-full-width" appearance="fill">
                <mat-label for="title">Password</mat-label>
                <input matInput required placeholder="Password" type="password" formControlName="password">
                <mat-hint *ngIf="this.registerForm.get('password')?.errors?.['required']" align="end">
                    El password es requerido
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="note-full-width" appearance="fill">
                <mat-label for="title">Confirmar Password</mat-label>
                <input matInput required placeholder="Confirmar Password" type="password" formControlName="password_confirm">
            </mat-form-field>
            <mat-error *ngIf="registerForm.errors?.['passwordNotMatch']">
                Las contraseñas no coinciden
            </mat-error>

            <div class="button">
                <button type="submit" [disabled]="!registerForm.valid" mat-stroked-button mat-button color="primary">REGISTRO</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
