<mat-dialog-content class="mat-typography">

    <div class="create-note">
        <h2 mat-dialog-title>CREAR NOTA</h2>
        <form class="note-form" [formGroup]="createNoteForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="note-full-width" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Titulo" type="text" formControlName="title">
            </mat-form-field>

            <mat-form-field class="note-full-width" appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
            </mat-form-field>
            <button mat-button type="submit">GUARDAR</button>
        </form>
    </div>
</mat-dialog-content>