.page-auth {
    max-width: 960px;
    padding: 0 20px;
    margin: 50px auto;
    border: 1px solid #CC33CA;
    border-radius: 15px;
    h1 {
        font-size: 30px;
        font-weight: 400;
        margin: 50px 0 24px;
        line-height: 1;
    }
}

footer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    mat-toolbar {
        span {
            font-style: italic;
            font-size: 15px;
            color: #615d5d;
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}
