header:after,
nav:after,
footer:after,
.module-block:after,
.gallery:after,
.social:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header,
footer,
article,
section,
nav {
    /* Giving a display value to the HTML5 rendered elements: */
    display: block;
}

img {
    border-radius: 100%;
    max-width: 100%;
    display: block;
}

a {
    color: #D24655;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover,
a:focus {
    /* when you declare a hover state, make sure you declare a focus state as well */
    color: #000;
}

a img {
    border: none;
}

h1 {
    font-size: 50px;
    margin: 0;
    color: #000;
    font-weight: normal;
    line-height: 1;
}

h2 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 24px;
    line-height: 1;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 24px;
    line-height: 1;
}

p {
    font-family: 'Vollkorn', serif;
    margin-bottom: 24px;
}


/*-------------------------------------------

    	Header
-------------------------------------------*/

header {
    margin: 20px 6px 60px;
}

header div {
    margin-top: 40px;
    width: 60%;
    float: left;
}

header p {
    color: #272727;
    font-size: 18px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}


/*-------------------------------------------

    	General
-------------------------------------------*/

.page-wrap {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    /* center the content by defining a width and using this margin value */
}

.btn-create {
    margin: 15px 0px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #F5D8D7;
}

.spacer {
    flex: 1 1 auto;
}

.mat-sidenav-content {
    font-size: 200%;
    text-align: center;
}

.menu-toolbar-responsive {
    display: none;
}

@media only screen and (max-width: 600px) {
    .toolbar-menu {
        display: none;
    }
    .menu-toolbar-responsive {
        display: block;
    }
}
