<section class="page-wrap">
    <header>
        <div>
            <h1>Notas</h1>
            <p>
                {{ user? user.name: 'JHON DOE' }}
            </p>
            <button mat-button color="primary" (click)="onLogout()">Logout</button>
        </div>
    </header>
    <div class="btn-create">
        <button mat-button mat-raised mat-stroked-button (click)="onOpenDialogCreateNote()" color="primary">
    <mat-icon>note_add</mat-icon>

    CREAR NOTA
  </button>
    </div>


    <app-list-notes>

    </app-list-notes>


</section>
