<section class="page-wrap">




    <mat-toolbar>

        <button mat-button mat-raised mat-stroked-button (click)="onOpenDialogCreateNote()" color="primary">
      <mat-icon>note_add</mat-icon> CREAR NOTA
    </button>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon">
          <mat-icon>event_note</mat-icon>
        </button>
        <span>NOTAS</span>

        <span class="spacer"></span>
        <span>{{ user? user.name: 'JHON DOE' }}</span>


        <button mat-button mat-raised (click)="onLogout()" color="primary">
      <mat-icon>logout</mat-icon> LOGOUT
    </button>
    </mat-toolbar>


    <app-list-notes>

    </app-list-notes>


</section>
